.admin{

position:relative;

min-height:100vh;

overflow:hidden;


}



.adminNav{

position:relative;

z-index:10;

display:flex;

min-height:100vh;

}



.contents{

flex:1;

min-height:100vh;


margin-left:230px;


overflow:auto;

}
